<!DOCTYPE HTML>
<html>

<head>
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.13/theme-chalk/index.css" rel="stylesheet">
    <meta name="layoutmode" content="fitscreen">
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
</head>

<body>
    <div id="app">
    <el-form ref="form" :model="form" label-width="180px">
        <el-form-item label="Yesterday Close">
          <el-input v-model="form.close" precision="2" step="0.01" type="number" @change="getShowCalc"></el-input>
        </el-form-item>
        <el-form-item label="Today Close">
            <el-input v-model="form.todayClose" precision="2" step="0.01" type="number" @change="getShowCalc"></el-input>
        </el-form-item>
        <el-form-item label="Today MA Price">
            <el-input v-model="form.maPrice" type="number" step="0.01" @change="getShowCalc"></el-input>
            <el-link type="primary">股一般选择 20 MA  ETF 一般选 30 MA 也可输入 60 120</el-link>
        </el-form-item>
        <el-form-item label="Today Rate">
            <el-input v-model="todayMAPriceRateShow" disabled>
            </el-input>
        </el-form-item>
        <el-form-item label="Yesterday Close Rate">
            <el-input v-model="yestoryMAPriceRateShow" disabled>
            </el-input>
        </el-form-item>
        <el-form-item label="Stone Rate Set">
            <el-input v-model="yestoryMAPriceRateSet" disabled></el-input>
            <el-link type="primary">此比例 设置网格合适 是 Yesterday Close 生成，是Yesterday 的一半</el-link>
        </el-form-item>
        <el-form-item label="Start">
            <el-input v-model="rangeStart" disabled></el-input>
            <el-link type="primary">区间价格 由 今日 Close 生成 与 MA Price 生成</el-link>
        </el-form-item>
        <el-form-item label="End">
            <el-input v-model="rangeEnd" disabled></el-input>
            <el-link type="primary">区间价格 由 今日 Close 生成 与 MA Price 生成</el-link>
        </el-form-item>
        <el-form-item label="Yesterday MACD">
            <el-input v-model="yesterdayMACD" type="number" step="0.001" precision="3" @change="changeMACD"></el-input>
        </el-form-item>
        <el-form-item label="Today MACD">
            <el-input v-model="todayMACD" type="number" step="0.001" precision="3" @change="changeMACD"></el-input>
        </el-form-item>
    </el-form>
    <el-descriptions title="总结">
        <el-descriptions-item label="日MACD">{{macdShow}}</el-descriptions-item>
        <el-descriptions-item label="状态" :style="twentyRateShowStyle">{{twentyRateShowStatus}}</el-descriptions-item>
</div>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.13/index.min.js"></script>
    <script>
        new Vue({
        el: "#app",
        data: {
            form:{
                close:0,
                todayClose:0,
                maPrice:0,
            },
            todayMAPriceRate: 0,
            yestoryMAPriceRate: 0,
            todayMAPriceRateShow: 0,
            yestoryMAPriceRateShow: 0,
            yestoryMAPriceRateSet: 0,
                rangeStart: 0,
                rangeEnd: 0,
                yesterdayMACD:0,
                todayMACD:0,
        },
        computed:{
            todayRateShowStatus(){
                if(this.todayMAPriceRate > 0.1){
                    console.log(this.todayMAPriceRate);
                    return "Follow Buy [大于 10%]"
                } else if(this.todayMAPriceRate < -0.05) {
                    return  "Focus Sell [小于 -5%]"
                }  else if(-0.05<this.todayMAPriceRate < 0) {
                    return  "不建议做T"
                }else{
                    return "观望 或 "
                }
            },
            todayRateShowStyle(){
                    if(this.todayMAPriceRate > 0.1){
                    console.log(this.todayMAPriceRate);
                    return {
                        color: 'blue !important',
                        fontWeight: 'bold'
                    }
                } else if(this.todayMAPriceRate < -0.05) {
                    return  {
                        color: 'red !important',
                        fontWeight: 'bold',
                    }
                } else{
                    return {}
                }
            }
        },
        methods: {
            getShowCalc(){
                let {close,todayClose,maPrice} = this.form;
                close = Number(close);
                todayClose = Number(todayClose);
                maPrice = Number(maPrice);
                this.todayMAPriceRate = (maPrice - todayClose)/todayClose; 
                this.todayMAPriceRateShow = this.todayMAPriceRate * 100 + '%';
                this.yestoryMAPriceRate = (maPrice - close)/close;
                this.yestoryMAPriceRateShow = this.yestoryMAPriceRate * 100 + '%';
                this.yestoryMAPriceRateSet = this.yestoryMAPriceRate / 2 * 100 + '%';
                this.rangeStart = todayClose - todayClose * this.todayMAPriceRate;
                this.rangeEnd = maPrice;        
            },
            changeMACD(){
                const range = this.todayMACD - this.yesterdayMACD > 0
                this.macdShow = range ? 'MACD 递增: ' +  range : 'MACD 递减: ' + range;  
            }
        }
    });

    </script>
</body>

</html>

<style>
    #app{
        width: 100vm;
        height: 100vh;
        margin: 30px;
    }
</style>