<!DOCTYPE HTML>
<html>

<head>
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.13/theme-chalk/index.css" rel="stylesheet">
</head>

<body>
    <div id="app">
    <el-form ref="form" :model="form" label-width="180px">
        <el-form-item label="Yesterday Close">
          <el-input v-model="form.close" precision="2" step="0.01" type="number" @change="getShowCalc"></el-input>
        </el-form-item>
        <!-- <el-form-item label="Five">
            <el-input v-model="form.five" precision="2" step="0.01" type="number" @change="getShowCalc"></el-input>
        </el-form-item> -->
        <el-form-item label="Today MA 20/ 30">
            <el-input v-model="form.twenty" type="number" step="0.01" @change="getShowCalc"></el-input>
        </el-form-item>
        <el-form-item label="All[20]/ETF[30] Rate">
            <el-input v-model="twentyRateShow" disabled>
            </el-input>
            <span :style="twentyRateShowStyle">{{twentyRateShowStatus}}</span>
        </el-form-item>
        <el-form-item label="Stone Rate Set">
            <el-input v-model="twentyRateShowSet" disabled></el-input>
        </el-form-item>
        <el-form-item label="Start">
            <el-input v-model="twentyStart" disabled></el-input>
        </el-form-item>
        <el-form-item label="End">
            <el-input v-model="twentyEnd" disabled></el-input>
        </el-form-item>
    </el-form>
</div>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.13/index.min.js"></script>
    <script>
        new Vue({
        el: "#app",
        data: {
            form:{
                close:0,
                five:0,
                twenty:0,
            },
            twentyRate: 0,
            twentyRateShow: 0,
            twentyRateShowSet: 0,
                twentyStart: 0,
                twentyEnd: 0,
        },
        computed:{
            twentyRateShowStatus(){
                if(this.twentyRate > 0.1){
                    console.log(this.twentyRate);
                    return "Follow Buy [大于 10%]"
                } else if(this.twentyRate < -0.05) {
                    return  "Focus sell [小于 -5%]"
                } else{
                    return "观望"
                }
            },
            twentyRateShowStyle(){
                    if(this.twentyRate > 0.1){
                    console.log(this.twentyRate);
                    return {
                        color: 'blue !important',
                        fontWeight: 'bold'
                    }
                } else if(this.twentyRate < -0.05) {
                    return  {
                        color: 'red !important',
                        fontWeight: 'bold',
                    }
                } else{
                    return {}
                }
            }
        },
        methods: {
            // 股票 低于 20日水平线 > 0% 为可购买水平
            getShowCalc(){
                let {close,twenty} = this.form;
                close = Number(close);
                twenty = Number(twenty);
                this.twentyRate = (twenty - close)/close;
                console.log(this.twentyRate);
                this.twentyRateShow = this.twentyRate * 100 + '%';
                this.twentyRateShowSet = this.twentyRate / 2 * 100 + '%';
                this.twentyStart = close - close * this.twentyRate;
                this.twentyEnd = twenty;
                console.log(this.twentyRate)
               
            }
        }
    });

    </script>
</body>

</html>

<style>
    #app{
        width: 100vm;
        height: 100vh;
        margin: 30px;
    }
</style>